@model ML.Alumno
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario de Alumno</h2>


<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Form", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.IdAlumno, new { @class = "visually-hidden" })

                    @Html.TextBoxFor(model => model.IdAlumno, new { @class = "visually-hidden form-control" })

                    @Html.ValidationMessageFor(model => model.IdAlumno)

                </div>

                <div class="col">
                    @Html.LabelFor(model => model.Nombre)

                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.ApellidoPaterno)

                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.ApellidoMaterno)

                    @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.FechaNacimiento)

                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.Semestre)

                    @Html.TextBoxFor(model => model.Semestre.IdSemestre, new { @class = "form-control", @id = "txtNombre" })

                    @Html.ValidationMessageFor(model => model.Semestre.IdSemestre)
                </div>

                <div class="col">
                    <input type="submit" value="Guardar" class="btn btn-success" />

                    @Html.ActionLink("Regresar", "GetAll", "Alumno", htmlAttributes: new { @class = "btn btn-danger" })
                </div>

            </div>


        }

    </div>

</div>
